<%- include('../layout/header.ejs')  %> 

<%- include('../partials/userNav.ejs')  %> 

<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Wishlist</h1>
                    <h6 class="mb-0 text-muted"><%= wishlist.length %> items</h6>
                  </div>
                  <hr class="my-4">
                  <% for(i=0;i<wishlist.length;i++) { %> 

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/image/<%= wishlist[i].item[0].image1  %> "
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <!-- <h6 class="text-muted">Shirt</h6> -->
                      <h6 class="text-black mb-0"><%= wishlist[i].item[0].pname  %></h6>
                    </div>
                    
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">₹ <%= wishlist[i].item[0].price  %></h6>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <form action="/user_home/add-to-cart?id=<%= wishlist[i].item[0]._id %>" method="post">
                        <div class="cart mt-4 align-items-center"><button class="btn btn-warning text-uppercase mr-2 px-4">Add to cart</button> </div>
                    </form>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="/user_home/delete-wishlist-product?id=<%= wishlist[i].item[0]._id %>" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>

                  <hr class="my-4">
                  <% } %> 
                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/user_home/" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <%- include('../layout/footer.ejs')  %> 
